<div class="container">
  <!--Custom event-binding: serverCreated and blueprintCreated are custom events-->
  <app-cookpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)">
  </app-cookpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!-- [srvElement]="..." is a custom property binding ("srvElement" is an alias of a custom property)-->
      <app-server-element
        *ngFor="let oneServeElement of serverElements"
        [srvElement]="oneServeElement"></app-server-element>
    </div>
  </div>
</div>
